.sys-layout-container {
    background-color: #f9f9f9;
    .sys-sider-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        .trigger {
            font-size: 18px;
            line-height: 64px;
            padding: 0 24px;
            cursor: pointer;
            transition: color 0.3s;
        }
        .trigger:hover {
            color: #1890ff;
        }
        .logo {
            height: 32px;
            background: rgba(255, 255, 255, 0.2);
            margin: 16px;
        }
    }
    .sys-main-container {
        height: 100%;
        margin-left: 200px;
        overflow-x: auto;
        .sys-main-header {
            background-color: #fff;
        }
        .sys-main-content {
            background-color: #fff;
            height: 10000px;
        }
    }
}
